body {
  font-family: Century Gothic, cursive;
  font-size: 16px;
}

/*posicion del juego*/
.wrapper {
  width: 1000px;
  height: 650px;
  position: absolute;
  top: 20px;
  left: 20px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #66FF00;
  z-index: 1;
  width: 1000px;
  height: 650px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0
}
li {
  padding: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.wrapper {
  width: 1000px;
  height: 650px;
  position: absolute;
  top: 5px;
  left: 5px;
}

#menu {
  position: absolute;
  width: 1000px;
  height: 650px;
  border: 10px solid #5EFF00;
  z-index: 2;
  text-align: center;
  background-color: grey;
}
#menu.main {
  background-image: url('imgs/menu-bg.png');
}

#progress {
  height: 12%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#percent {
  color: white;
  
  font-weight: bold;
  
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#progress-bar {
  width: 200px;
}

.sound {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}
.sound-on {
  background-image: url('imgs/soundOn.png');
  background-repeat: no-repeat;
}
.sound-off {
  background-image: url('imgs/soundOff.png');
  background-repeat: no-repeat;
}

#main {
  display: none;
  height: 60%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}
#main h1 {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.button {
  display: block;
  width: 150px;
  margin: 0 auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #30F808;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #30F808;
  background-image: -webkit-linear-gradient(bottom, #FB1886 0%, #30F808 100%);
  background-image:         linear-gradient(to bottom, #FB1886 0%, #30F808 100%);
  border-radius: 5px;
}

.button:hover {
  background-color: #B30D5D;
  background-image: -webkit-linear-gradient(bottom, #30F808 0%, #FB1886 100%);
  background-image:         linear-gradient(to bottom, #30F808 0%, #FB1886 100%);
}

#game-over {
  display: none;
  text-align: center;
  padding-top: 200px;
  z-index: 1;
  width: 1000px;
  height: 650px;
  position: absolute;
}